

body{
	background: rgba(20, 25, 45,10);
}
header{
	text-align: center;
}
main{
	text-align: center;
}

#new-task-input{
	height: 30px;
	width: 50%;
	font-size: 30px;
	border-radius: 20px;
	border: 2px solid black;
	
}
#new-task-submit{
	height: 30px;
	border-radius: 10px;
	font-size: 20px;
	border: 2px solid black;
	font-weight: 700;
	background-color: #ff9800;
}
.task-list input{
	height: 30px;
	width: 40%;
	font-size: 20px;
	border-radius: 20px;
	border: 2px solid black;
}
.actions button{
	font-size: 20px;
	font-weight: 700;
	/*background-color: crimson;*/
	border-radius: 10px;

}
.delete{
	background-color:crimson;
}
.edit{
	background-color: lightgreen;
}
header h1{
	color: #2196f3;
}
main h2{
	color: #e91e56;
}
.text{

	color: rgba(20, 25, 45,10);
	font-weight: 600;
}

	
	